{
    email   YOUR-EMAIL-ADDRESS
}

(static) {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
	}
	header @static Cache-Control max-age=5184000
}

(security) {
	header {
		# enable HSTS
		Strict-Transport-Security max-age=31536000;
		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff
		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}
}

<YOUR-DOMAIN.com> {
	@webhook path /telegram/webhook*
	reverse_proxy @webhook http://tg_telegram-trader-bot:9095
	@health path /healthz*
	reverse_proxy @health http://tg_telegram-trader-bot:9095
	respond 404
}